html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* --- Colours --- */
$sl: #fedbbb;
$sd: #d1a47b;
$ol: #eb6d21;
$od: #a45216;
$yl: #ffd75e;
$ym: #deb563;
$yd: #a18348;
$rl: #964a33;
$rd: #773225;
$bl: #773225;
$bd: #493025;
$bu: #8efffd;
$n: #3d5462;
$wh: #fff;
$blk: #000;
$t: transparent;

@mixin pseduo-div( $w, $h, $c ) {
  content: '';
  width: $w;
  height: $h;
  display: block;
  position: absolute;
  background: $c;
}

@mixin w-h( $w, $h ) {
  width: $w;
  height: $h;
}

body {
  margin: 0;
  // background: linear-gradient( $peach, $y, $white );
  background: $n;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.aang-container {
  @include w-h( 50vmin, 90vmin );
  border: 1px solid $sd;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  // background: url('../resources/drawing.jpg') 150% 0% no-repeat;
  background-size: auto 101%;
}

.sign {
  @include w-h( 58%, 22% );
  position: absolute;
  top: -2%;
  transform: rotate( -2.5deg );
  background: linear-gradient( 165deg, darken( $wh, 9 ) 65%, darken( $wh, 2 ) 66% );

  svg {
    @include w-h( 90%, 90% );
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d( -50%, -50%, 0 );
  }
}

.head {
  @include w-h( 25%, 18% );
  border-radius: 50% / 40% 40% 60% 60%;
  position: absolute;
  top: 26.4%;
  overflow: hidden;
  background: $sl;

  // eyes
  &::before,
  &::after {
    @include pseduo-div( 29%, 11%, null );
    border-radius: 0 0 20vmin 20vmin;
    top: 58%;
    background-color: $wh;
    box-shadow: 0 0 1vmin 0 $wh, 0 0 2vmin 0 $bu, 0 0 2.2vmin 0 $bu, 0 0 3vmin 0 $bu;
    z-index: 10;
  }

  &::before {
    left: 13%;
    transform: rotate( 25deg );
  }

  &::after {
    left: 60%;
    transform: rotate( -25deg );
  }

  // arrow
  &__arrow {
    &--top {
      @include w-h( 25%, 37% );
      background-color: $wh;
      position: absolute;
      top: 0;
      left: 37.5%;
      border-radius: 25% 25% 5% 5%;
      box-shadow: 0 0 0.5vmin 0 $wh, 0 0 2vmin 0 $bu, 0 0 4vmin 0 $bu;

      // line
      &::before {
        @include pseduo-div( 100%, 100%, null );
        top: 4%;
        left: 0;
        border-radius: 25% 25% 5% 5%;
        background-color: $wh;
      }

      // arrow
      &::after {
        @include pseduo-div( 0, 0, null );
        top: -10%;
        left: 28%;
        border-bottom: 5vmin solid $wh;
        border-left: 5vmin solid $t;
        border-top: 5vmin solid $t;
        transform: rotate( 45deg );
      }
    }

    &--triangle {
      top: 0;
      left: 44%;
      position: relative;

      &::before,
      &::after {
        @include pseduo-div( 0, 0, null );
        top: -2vmin;
        left: 0;
        filter: blur( 0.5vmin );
        transform: rotate( 45deg );
        border-left: 6vmin solid $t;
        border-top: 6vmin solid $t;
      }

      &::before {
        border-bottom: 6vmin solid $bu;
      }

      &::after {
        border-bottom: 6vmin solid $wh;
      }
    }
  }

  // shadow
  &__shadow {
    @include w-h( 94%, 78% );
    border-radius: 50% / 40% 40% 60% 60%;
    background-color: $sd;
    position: absolute;
    bottom: 2%;
    left: 3.2%;
  }
}

.ear {
  &__l,
  &__r,
  &__l::before,
  &__r::before {
    border-radius: 50% / 60% 60% 40% 40%;
  }

  &__l,
  &__r {
    @include w-h( 6%, 5.5% );
    background-color: $sl;
    position: absolute;
    top: 33%;

    &::before {
      @include pseduo-div( 85%, 85%, $sd );
      left: 0;
    }
  }

  &__l {
    left: 33.5%;
    transform: rotate( -195deg );

    &::before {
      left: 10%;
    }
  }

  &__r {
    left: 60.5%;
    transform: rotate( 195deg );
  }
}

.neck {
  @include w-h( 24%, 8% );
  background: linear-gradient( 180deg, $yd 25%, $od);
  position: absolute;
  border-radius: 30% 30% 0 0;
  top: 39.5%;

  // neck
  &::before {
    @include pseduo-div( 50%, 60%, $sd );
    border-radius: 0 0 50% 50%;
    top: 40%;
    left: 24%;
  }
}

.collar {
  &__r,
  &__l {
    @include w-h( 9%, 6% );
    position: absolute;
    top: 42%;

    &::after {
      @include pseduo-div( 45%, 57%, null );
      top: 43%;
    }
  }

  &__l {
    background: linear-gradient( 26deg, $od 28%, $ym calc( 28% + 1px ), $ym 68%, $yl 70%, $t calc( 70% + 1px ));
    left: 38%;
    border-radius: 0 0 0 100% / 0 0 0 60%;

    &::after {
      left: 100%;
      background: linear-gradient( 60deg, $ym 49%, $t 50% );
    }

    &::before {
      @include pseduo-div( 66%, 16%, $ym );
      top: 90%;
      left: 100%;
      border-radius: 50%;
    }
  }

  &__r {
    background: linear-gradient( -26deg, $od 28%, $ym calc( 28% + 1px ), $ym 68%, $yl 70%, $t calc( 70% + 1px ));
    left: 53%;
    border-radius: 0 0 100% 0 / 0 0 60% 0;

    &::after {
      left: -45%;
      background: linear-gradient( -58deg, $ym 50%, $t 51% );
    }
  }
}

.cloak {
  @include w-h( 58%, 35% );
  border-radius: 50% / 40% 40% 60% 60%;
  position: absolute;
  top: 31%;
  // border: 1px solid $wh;
  // background: linear-gradient( 180deg, $t 45%, $rl 45%, $rl 52%, $t 52.5%);
  overflow: hidden;

  &::before,
  &::after {
    @include pseduo-div( 70%, 80%, null );
    top: 19%;
    // border: 1px solid $wh;
  }

  &::before {
    left: -42%;
    background:
      linear-gradient( -5deg, $t 96%, $ol 96.5% ),
      radial-gradient( 2% 4% at 77% 6%, $od 4.6vmin, $t 4.7vmin ),
      linear-gradient( 90deg, $od 80%, $t 80.5% );
    transform: rotate( 50deg );
  }

  &::after {
    left: 69%;
    background:
      linear-gradient( 5deg, $t 96%, $ol 96.5% ),
      radial-gradient( 2% 4% at 24% 8%, $od 4.6vmin, $t 4.7vmin ),
      linear-gradient( -90deg, $od 80%, $t 80.5% );
    transform: rotate( -50deg );
  }
}

.arm {
  &__l,
  &__r {
    @include w-h( 8%, 15% );
    background-color: $ym;
    position: absolute;

    &::before {
      // border: 1px dashed green;
      @include pseduo-div( 115%, 66%, null );
      top: 68%;
    }

    // hand
    &::after {
      @include pseduo-div( 70%, 40%, $sl );
      // border-radius: 50% 50% 0 60% / 50% 50% 10% 60%;
      top: -25%;
      transform: rotate( -95deg );
      // border: 1px dashed green;
    }
  }

  &__l {
    top: 21.2%;
    left: 16%;
    // box-shadow: inset -0.7vmin 0vmin 0 $yl;
    // border: 1px dashed green;
    transform: rotate( 7deg );
    border-radius: 30% 50% 0 30% / 30% 70% 0 30%;

    &::before {
      left: 33%;
      transform: rotate( -46deg );
      box-shadow: inset 0 0.5vmin 0 0 $ym;
      border-radius: 50% 10% 20% 0 / 70% 10% 40% 0;
      background:
      linear-gradient( $ym 33%, $t 34% ),
      radial-gradient( 4% 1% at 50% 60%, $t 4vmin, $ym 4.2vmin ),
      linear-gradient( 90deg, $t 60%, $od 61%, $od 79%, $ol 80% ),
      radial-gradient( 4% 1% at 50% 77%, $ym 4vmin, $t 4.2vmin ),
      radial-gradient( 4% 1% at 50% 60%, $od 4vmin, $t 4.2vmin );
    }

    &::after {
      // @include pseduo-div( 100%, 40%, green );
      border-radius: 20% 20% 10% 80% / 30% 10% 10% 90%;
      left: -7%;
      transform: rotate( -15deg );
    }
  }

  &__r {
    top: 21.5%;
    left: 73.5%;
    border-radius: 50% 50% 80% 40% / 60% 60% 40% 40%;
    transform: rotate( -3deg );
  }
}

.fingers {
  &__l,
  &__r {
    // border: 1px dashed green;
    @include w-h( 8.5%, 1.6% );
    border-radius: 35%;
    background-color: $sl;
    box-shadow:
      0 -1vmin 0 0 $sl,
      0 -2vmin 0 0 $sl,
      0 -3vmin 0 0 $sl;
    position: absolute;
    top: 18.5%;
    left: 16.8%;
    transform: rotate( -8deg );
    // background:
    //   radial-gradient( 3% 1% at 45% 50%, $od 1.6vmin, $t 1.7vmin );

    &::before {
      @include pseduo-div( 130%, 220%, green );
      
    }
  }
}

.torso {
  // sash
  @include w-h( 22%, 6% );
  background-color: $rl;
  position: absolute;
  border-radius: 0 0 40% 40%;
  top: 57.5%;
  left: 39%;

  // body
  &::before {
    @include pseduo-div( 130%, 220%, null );
    background: linear-gradient( $od 30%, $ym 30.5% );
    position: absolute;
    border-radius: 0 0 15% 15% / 50%;
    top: -170%;
    left: -15%;
  }

  &::after {
    @include pseduo-div( 108%, 60%, $ym );
    position: absolute;
    border-radius: 50%;
    // border: 1px solid green;
    top: 5%;
    left: -4%;
  }
}

.leg {
  &__l,
  &__r {
    @include w-h( 8%, 22% );
    background: $rl;
    position: absolute;
    border-radius: 50%;

    // pants
    &::before {
      @include pseduo-div( 200%, 100%, $ym );
      position: absolute;
      top: -38%;
      // border: 1px dashed green;
      border-radius: 20% 20% 60% 60% / 20%;
    }
  }

  &__l {
    top: 69.5%;
    left: 36%;
    transform: rotate( 10deg );

    &::before {
      left: -50%;
    }
  }

  &__r {
    top: 69.8%;
    left: 56.5%;
    transform: rotate( -10deg );

    &::before {
      left: -50%;
    }
  }
}
