html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* --- Colours --- */
$sl: #fedbbb;
$sd: #d1a47b;
$ol: #eb6d21;
$od: #a45216;
$yl: #ffd75e;
$yd: #deb563;
$rl: #964a33;
$rd: #773225;
$bl: #773225;
$bd: #493025;
$bu: #8efffd;
$n: #3d5462;
$wh: #fff;
$blk: #000;
$t: transparent;

@mixin pseduo-div( $w, $h, $c ) {
  content: '';
  width: $w;
  height: $h;
  display: block;
  position: absolute;
  background-color: $c;
}

@mixin w-h( $w, $h ) {
  width: $w;
  height: $h;
}

body {
  margin: 0;
  // background: linear-gradient( $peach, $y, $white );
  background: $n;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.aang-container {
  @include w-h( 50vmin, 90vmin );
  border: 1px solid $sd;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  // background: url('../resources/drawing.jpg') 150% 0% no-repeat;
  background-size: auto 101%;
}

.sign {
  @include w-h( 65%, 22% );
  position: relative;
  transform: rotate( -2.5deg );
  background: linear-gradient( 165deg, darken( $wh, 9 ) 65%, darken( $wh, 2 ) 66% );

  svg {
    @include w-h( 90%, 90% );
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d( -50%, -50%, 0 );
  }
}

.head {
  margin-top: 8%;
  @include w-h( 25%, 18% );
  border-radius: 50% 50% 50% 50% / 40% 40% 60% 60%;
  position: relative;
  overflow: hidden;
  background: $sl;

  // eyes
  &::before,
  &::after {
    @include pseduo-div( 29%, 11%, null );
    border-radius: 0 0 20vmin 20vmin;
    top: 58%;
    background-color: $wh;
    box-shadow: 0 0 1vmin 0 $wh, 0 0 2vmin 0 $bu, 0 0 2.2vmin 0 $bu, 0 0 3vmin 0 $bu;
    z-index: 10;
  }

  &::before {
    left: 13%;
    transform: rotate( 25deg );
  }

  &::after {
    left: 60%;
    transform: rotate( -25deg );
  }

  // arrow
  &__arrow {
    &--top {
      @include w-h( 25%, 37% );
      background-color: $wh;
      position: absolute;
      top: 0;
      left: 37.5%;
      border-radius: 25% 25% 5% 5%;
      box-shadow: 0 0 0.5vmin 0 $wh, 0 0 2vmin 0 $bu, 0 0 4vmin 0 $bu;

      // line
      &::before {
        @include pseduo-div( 100%, 100%, null );
        top: 4%;
        left: 0;
        border-radius: 25% 25% 5% 5%;
        background-color: $wh;
      }

      // arrow
      &::after {
        @include pseduo-div( 0, 0, null );
        top: -10%;
        left: 28%;
        border-bottom: 5vmin solid $wh;
        border-left: 5vmin solid $t;
        border-top: 5vmin solid $t;
        transform: rotate( 45deg );
      }
    }

    &--triangle {
      top: 0;
      left: 44%;
      position: relative;

      &::before,
      &::after {
        @include pseduo-div( 0, 0, null );
        top: -2vmin;
        left: 0;
        filter: blur( 0.5vmin );
        transform: rotate( 45deg );
        border-left: 6vmin solid $t;
        border-top: 6vmin solid $t;
      }

      &::before {
        border-bottom: 6vmin solid $bu;
      }

      &::after {
        border-bottom: 6vmin solid $wh;
      }
    }
  }

  // shadow
  &__shadow {
    @include w-h( 94%, 78% );
    border-radius: 50% 50% 50% 50% / 40% 40% 60% 60%;
    background-color: $sd;
    position: absolute;
    bottom: 2%;
    left: 3.2%;
  }
}

.ear {
  &__l,
  &__r,
  &__l::before,
  &__r::before {
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  }

  &__l,
  &__r {
    @include w-h( 6%, 5.5% );
    background-color: $sl;
    position: absolute;
    top: 33%;

    &::before {
      @include pseduo-div( 85%, 85%, $sd );
      left: 0;
    }
  }

  &__l {
    left: 33.5%;
    transform: rotate( -195deg );

    &::before {
      left: 10%;
    }
  }

  &__r {
    left: 60.5%;
    transform: rotate( 195deg );
  }
}

.neck {
  @include w-h( 24%, 8% );
  background-color: $yd;
  position: absolute;
  border-radius: 30% 30% 0 0;
  top: 39.5%;

  // neck
  &::before {
    @include pseduo-div( 50%, 50%, $sd );
    border-radius: 0 0 50% 50%;
    top: 36.5%;
    left: 24%;
  }
}

.collar {
  &__r,
  &__l {
    @include w-h( 8%, 6% );
    position: absolute;
    top: 42%;

    &::after {
      @include pseduo-div( 52%, 60%, null );
      top: 43%;
      // border: 1px solid white;
    }
  }

  &__r {
    background: linear-gradient( -30deg, $t 28%, $yl calc( 28% + 1px ), $yl 70%, $t calc( 70% + 1px ));
    left: 54%;

    &::after {
      left: -53%;
      background: linear-gradient( -56deg, $yl 50%, $t 51% );
    }
  }

  &__l {
    background: linear-gradient( 30deg, $t 28%, $yl calc( 28% + 1px ), $yl 70%, $t calc( 70% + 1px ));
    left: 38%;

    &::after {
      left: 100%;
      background: linear-gradient( 56deg, $yl 50%, $t 51% );
    }
  }
}

.torso {
  // sash
  @include w-h( 22%, 5% );
  background-color: $rl;
  position: absolute;
  border-radius: 0 0 40% 40%;
  top: 56.5%;
  left: 39%;

  // body
  &::after {
    @include pseduo-div( 120%, 240%, $yd );
    position: absolute;
    border-radius: 0 0 30% 30%;
    top: -180%;
    left: -10%;
  }
}

.leg {
  &__l,
  &__r {
    @include w-h( 18%, 22% );
    background-color: $yd;
    position: absolute;
    top: 60%;
    border-radius: 20% 20% 60% 60% / 20%;
  }

  &__l {
    left: 35%;
    transform: rotate( 10deg );
  }

  &__r {
    left: 48%;
    transform: rotate( -10deg );
  }
}

// .cloak {
//   @include w-h( 60%, 35% );
//   border-radius: 50%;
//   position: absolute;
//   top: 30%;
//   // border: 1px solid $wh;
//   overflow: hidden;

//   &::before,
//   &::after {
//     @include pseduo-div( 90%, 100%, $od );
//     top: 12%;
//     // border: 1px solid $wh;
//   }

//   &::before {
//     left: -55%;
//     transform: rotate( 50deg );
//   }

//   &::after {
//     left: 65%;
//     transform: rotate( -50deg );
//   }
// }

.arm {
  &__l,
  &__r {
    @include w-h( 0, 0 );
    position: absolute;
    right: 50%;
    top: 44%;
    border-top: 20vmin solid $t;
    // border-radius: 50%;
  }

  &__l {
    border-left: 10vmin solid $t;
    border-right: 10vmin solid $od;
    // transform: rotate( -45deg );
    left: -30%;
  }

  // &__r {
  //   border-left: 20vmin solid $od;
  //   border-right: 20vmin solid $t;
  //   transform: rotate( 45deg );
  //   left: 50%;
  // }
}
