html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* --- Colours --- */
$sl: #fedbbb;
$sd: #d5a77d;
$ol: #d5a77d;
$od: #a45216;
$yl: #ffd75e;
$yd: #deb563;
$bl: #deb563;
$bm: #964a33;
$bd: #773225;
$b2l: #773225;
$b2d: #493025;
$b: #8efffd;
$n: #3d5462;
$wh: #fff;
$bl: #000;
$t: transparent;

@mixin pseduo-div( $w, $h ) {
  content: '';
  width: $w;
  height: $h;
  display: block;
  position: absolute;
}

@mixin w-h( $w, $h ) {
  width: $w;
  height: $h;
}

body {
  margin: 0;
  // background: linear-gradient( $peach, $y, $white );
  background: $n;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.aang-container {
  @include w-h( 50vmin, 90vmin );
  border: 1px solid $sd;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.sign {
  background-color: darken( $wh, 2 );
  @include w-h( 55%, 20% );
  position: relative;

  svg {
    @include w-h( 90%, 90% );
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d( -50%, -50%, 0 );
  }
}

.head {
  margin-top: 10%;
  @include w-h( 25%, 18% );
  border-radius: 50% 50% 50% 50% / 40% 40% 60% 60%;
  position: relative;
  overflow: hidden;
  background: $sl;

  // eyes
  &::before,
  &::after {
    @include pseduo-div( 29%, 10% );
    border-radius: 0 0 20vmin 20vmin;
    top: 55%;
    background-color: $wh;
    box-shadow: 0 0 1vmin 0 $wh, 0 0 2vmin 0 $b, 0 0 2.2vmin 0 $b, 0 0 3vmin 0 $b;
    z-index: 10;
  }

  &::before {
    left: 13%;
    transform: rotate( 25deg );
  }

  &::after {
    left: 60%;
    transform: rotate( -25deg );
  }

  // arrow
  &__arrow {
    &--top {
      @include w-h( 25%, 35% );
      background-color: $wh;
      position: absolute;
      top: 0;
      left: 37.5%;
      border-radius: 20% 20% 0 0;
      box-shadow: 0 0 0.5vmin 0 $wh, 0 0 2vmin 0 $b, 0 0 4vmin 0 $b;

      // line
      &::before {
        @include pseduo-div( 100%, 100% );
        top: 2%;
        left: 0;
        border-radius: 20% 20% 0 0;
        background-color: $wh;
      }

      // arrow
      &::after {
        @include pseduo-div( 0, 0 );
        top: -20%;
        left: 28%;
        border-bottom: 5vmin solid $wh;
        border-left: 5vmin solid $t;
        border-top: 5vmin solid $t;
        transform: rotate( 45deg );
      }
    }

    &--triangle {
      top: 0;
      left: 44%;
      position: relative;

      &::before,
      &::after {
        @include pseduo-div( 0, 0 );
        top: -2.5vmin;
        left: 0;
        filter: blur( 0.5vmin );
        transform: rotate( 45deg );
        border-left: 6vmin solid $t;
        border-top: 6vmin solid $t;
      }

      &::before {
        border-bottom: 6vmin solid $b;
      }

      &::after {
        border-bottom: 6vmin solid $wh;
      }
    }
  }

  // shadow
  &__shadow {
    @include w-h( 92%, 78% );
    border-radius: 50% 50% 50% 50% / 40% 40% 60% 60%;
    background-color: $sd;
    position: absolute;
    bottom: 2%;
    left: 4%;
  }
}

.ear {
  &__l,
  &__r {
    @include w-h( 4.5%, 4% );
    background-color: $sl;
    position: absolute;
    top: 35%;
  }
}