html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* --- Colours --- */
body {
  margin: 0;
  background: #3d5462;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.aang-container {
  width: 50vmin;
  height: 90vmin;
  border: 1px solid #d1a47b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-size: auto 101%;
}

.sign {
  width: 58%;
  height: 22%;
  position: absolute;
  top: -2%;
  -webkit-transform: rotate(-2.5deg);
          transform: rotate(-2.5deg);
  background: linear-gradient(165deg, #e8e8e8 65%, #fafafa 66%);
}

.sign svg {
  width: 90%;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

.head {
  width: 25%;
  height: 18%;
  border-radius: 50% / 40% 40% 60% 60%;
  position: absolute;
  top: 26.4%;
  overflow: hidden;
  background: #fedbbb;
}

.head::before, .head::after {
  content: '';
  width: 29%;
  height: 11%;
  display: block;
  position: absolute;
  border-radius: 0 0 20vmin 20vmin;
  top: 58%;
  background-color: #fff;
  -webkit-box-shadow: 0 0 1vmin 0 #fff, 0 0 2vmin 0 #8efffd, 0 0 2.2vmin 0 #8efffd, 0 0 3vmin 0 #8efffd;
          box-shadow: 0 0 1vmin 0 #fff, 0 0 2vmin 0 #8efffd, 0 0 2.2vmin 0 #8efffd, 0 0 3vmin 0 #8efffd;
  z-index: 10;
}

.head::before {
  left: 13%;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
}

.head::after {
  left: 60%;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
}

.head__arrow--top {
  width: 25%;
  height: 37%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 37.5%;
  border-radius: 25% 25% 5% 5%;
  -webkit-box-shadow: 0 0 0.5vmin 0 #fff, 0 0 2vmin 0 #8efffd, 0 0 4vmin 0 #8efffd;
          box-shadow: 0 0 0.5vmin 0 #fff, 0 0 2vmin 0 #8efffd, 0 0 4vmin 0 #8efffd;
}

.head__arrow--top::before {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 4%;
  left: 0;
  border-radius: 25% 25% 5% 5%;
  background-color: #fff;
}

.head__arrow--top::after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  top: -10%;
  left: 28%;
  border-bottom: 5vmin solid #fff;
  border-left: 5vmin solid transparent;
  border-top: 5vmin solid transparent;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.head__arrow--triangle {
  top: 0;
  left: 44%;
  position: relative;
}

.head__arrow--triangle::before, .head__arrow--triangle::after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  top: -2vmin;
  left: 0;
  -webkit-filter: blur(0.5vmin);
          filter: blur(0.5vmin);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-left: 6vmin solid transparent;
  border-top: 6vmin solid transparent;
}

.head__arrow--triangle::before {
  border-bottom: 6vmin solid #8efffd;
}

.head__arrow--triangle::after {
  border-bottom: 6vmin solid #fff;
}

.head__shadow {
  width: 94%;
  height: 78%;
  border-radius: 50% / 40% 40% 60% 60%;
  background-color: #d1a47b;
  position: absolute;
  bottom: 2%;
  left: 3.2%;
}

.ear__l, .ear__r, .ear__l::before, .ear__r::before {
  border-radius: 50% / 60% 60% 40% 40%;
}

.ear__l, .ear__r {
  width: 6%;
  height: 5.5%;
  background-color: #fedbbb;
  position: absolute;
  top: 33%;
}

.ear__l::before, .ear__r::before {
  content: '';
  width: 85%;
  height: 85%;
  display: block;
  position: absolute;
  background: #d1a47b;
  left: 0;
}

.ear__l {
  left: 33.5%;
  -webkit-transform: rotate(-195deg);
          transform: rotate(-195deg);
}

.ear__l::before {
  left: 10%;
}

.ear__r {
  left: 60.5%;
  -webkit-transform: rotate(195deg);
          transform: rotate(195deg);
}

.neck {
  width: 24%;
  height: 8%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #a18348), to(#a45216));
  background: linear-gradient(180deg, #a18348 25%, #a45216);
  position: absolute;
  border-radius: 30% 30% 0 0;
  top: 39.5%;
}

.neck::before {
  content: '';
  width: 50%;
  height: 60%;
  display: block;
  position: absolute;
  background: #d1a47b;
  border-radius: 0 0 50% 50%;
  top: 40%;
  left: 24%;
}

.collar__r, .collar__l {
  width: 9%;
  height: 6%;
  position: absolute;
  top: 42%;
}

.collar__r::after, .collar__l::after {
  content: '';
  width: 45%;
  height: 57%;
  display: block;
  position: absolute;
  top: 43%;
}

.collar__l {
  background: linear-gradient(26deg, #a45216 28%, #deb563 calc( 28% + 1px), #deb563 68%, #ffd75e 70%, transparent calc( 70% + 1px));
  left: 38%;
  border-radius: 0 0 0 100% / 0 0 0 60%;
}

.collar__l::after {
  left: 100%;
  background: linear-gradient(60deg, #deb563 49%, transparent 50%);
}

.collar__l::before {
  content: '';
  width: 66%;
  height: 16%;
  display: block;
  position: absolute;
  background: #deb563;
  top: 90%;
  left: 100%;
  border-radius: 50%;
}

.collar__r {
  background: linear-gradient(-26deg, #a45216 28%, #deb563 calc( 28% + 1px), #deb563 68%, #ffd75e 70%, transparent calc( 70% + 1px));
  left: 53%;
  border-radius: 0 0 100% 0 / 0 0 60% 0;
}

.collar__r::after {
  left: -45%;
  background: linear-gradient(-58deg, #deb563 50%, transparent 51%);
}

.cloak {
  width: 58%;
  height: 35%;
  border-radius: 50% / 40% 40% 60% 60%;
  position: absolute;
  top: 31%;
  overflow: hidden;
}

.cloak::before, .cloak::after {
  content: '';
  width: 70%;
  height: 80%;
  display: block;
  position: absolute;
  top: 19%;
}

.cloak::before {
  left: -42%;
  background: linear-gradient(-5deg, transparent 96%, #eb6d21 96.5%), radial-gradient(2% 4% at 77% 6%, #a45216 4.6vmin, transparent 4.7vmin), linear-gradient(90deg, #a45216 80%, transparent 80.5%);
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
}

.cloak::after {
  left: 69%;
  background: linear-gradient(5deg, transparent 96%, #eb6d21 96.5%), radial-gradient(2% 4% at 24% 8%, #a45216 4.6vmin, transparent 4.7vmin), linear-gradient(-90deg, #a45216 80%, transparent 80.5%);
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
}

.arm__l, .arm__r {
  width: 8%;
  height: 15%;
  background-color: #deb563;
  position: absolute;
}

.arm__l::before, .arm__r::before {
  content: '';
  width: 115%;
  height: 66%;
  display: block;
  position: absolute;
  top: 68%;
}

.arm__l::after, .arm__r::after {
  content: '';
  width: 70%;
  height: 40%;
  display: block;
  position: absolute;
  background: #fedbbb;
  top: -25%;
  -webkit-transform: rotate(-95deg);
          transform: rotate(-95deg);
}

.arm__l {
  top: 21.2%;
  left: 16%;
  -webkit-transform: rotate(7deg);
          transform: rotate(7deg);
  border-radius: 30% 50% 0 30% / 30% 70% 0 30%;
}

.arm__l::before {
  left: 33%;
  -webkit-transform: rotate(-46deg);
          transform: rotate(-46deg);
  -webkit-box-shadow: inset 0 0.5vmin 0 0 #deb563;
          box-shadow: inset 0 0.5vmin 0 0 #deb563;
  border-radius: 50% 10% 20% 0 / 70% 10% 40% 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(33%, #deb563), color-stop(34%, transparent)), radial-gradient(4% 1% at 50% 60%, transparent 4vmin, #deb563 4.2vmin), -webkit-gradient(linear, left top, right top, color-stop(60%, transparent), color-stop(61%, #a45216), color-stop(79%, #a45216), color-stop(80%, #eb6d21)), radial-gradient(4% 1% at 50% 77%, #deb563 4vmin, transparent 4.2vmin), radial-gradient(4% 1% at 50% 60%, #a45216 4vmin, transparent 4.2vmin);
  background: linear-gradient(#deb563 33%, transparent 34%), radial-gradient(4% 1% at 50% 60%, transparent 4vmin, #deb563 4.2vmin), linear-gradient(90deg, transparent 60%, #a45216 61%, #a45216 79%, #eb6d21 80%), radial-gradient(4% 1% at 50% 77%, #deb563 4vmin, transparent 4.2vmin), radial-gradient(4% 1% at 50% 60%, #a45216 4vmin, transparent 4.2vmin);
}

.arm__l::after {
  border-radius: 20% 20% 10% 80% / 30% 10% 10% 90%;
  left: -7%;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.arm__r {
  top: 21.5%;
  left: 73.5%;
  border-radius: 50% 50% 80% 40% / 60% 60% 40% 40%;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

.fingers__l, .fingers__r {
  width: 8.5%;
  height: 1.6%;
  border-radius: 35%;
  background-color: #fedbbb;
  -webkit-box-shadow: 0 -1vmin 0 0 #fedbbb, 0 -2vmin 0 0 #fedbbb, 0 -3vmin 0 0 #fedbbb;
          box-shadow: 0 -1vmin 0 0 #fedbbb, 0 -2vmin 0 0 #fedbbb, 0 -3vmin 0 0 #fedbbb;
  position: absolute;
  top: 18.5%;
  left: 16.8%;
  -webkit-transform: rotate(-8deg);
          transform: rotate(-8deg);
}

.fingers__l::before, .fingers__r::before {
  content: '';
  width: 130%;
  height: 220%;
  display: block;
  position: absolute;
  background: green;
}

.torso {
  width: 22%;
  height: 6%;
  background-color: #964a33;
  position: absolute;
  border-radius: 0 0 40% 40%;
  top: 57.5%;
  left: 39%;
}

.torso::before {
  content: '';
  width: 130%;
  height: 220%;
  display: block;
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #a45216), color-stop(30.5%, #deb563));
  background: linear-gradient(#a45216 30%, #deb563 30.5%);
  position: absolute;
  border-radius: 0 0 15% 15% / 50%;
  top: -170%;
  left: -15%;
}

.torso::after {
  content: '';
  width: 108%;
  height: 60%;
  display: block;
  position: absolute;
  background: #deb563;
  position: absolute;
  border-radius: 50%;
  top: 5%;
  left: -4%;
}

.leg__l, .leg__r {
  width: 8%;
  height: 22%;
  background: #964a33;
  position: absolute;
  border-radius: 50%;
}

.leg__l::before, .leg__r::before {
  content: '';
  width: 200%;
  height: 100%;
  display: block;
  position: absolute;
  background: #deb563;
  position: absolute;
  top: -38%;
  border-radius: 20% 20% 60% 60% / 20%;
}

.leg__l {
  top: 69.5%;
  left: 36%;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.leg__l::before {
  left: -50%;
}

.leg__r {
  top: 69.8%;
  left: 56.5%;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.leg__r::before {
  left: -50%;
}
